# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. Python 
2. C/C++
3. R

# Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. TensorFlow

### Data Science Tools

| Data Science Tools|
|:--------:|
| Juypter Notebook |
|  Apache Spark | 
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# **Objectives:**

- Data Science Languages
- Data Science Tools
- Arithmetic expressions in Python

## Author:
Kaviraajan Malarvannan